/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --accent-text-color:  #f1b2ce;
  --accent-background-color:  #000028;
  --accent-font: 'IBM Plex mono', monospace;
  --page-title-color: #db00ff;
  --page-background-image: url("../images/cover-image-dark.png");
  --article-background-color:  #ff0070;
  --main-section-color: #ff0070;
  --secondary-color-o-40: #ff007040;
  --section-title-color:  #000028;
  --decorated-zone-color: var(--main-section-color);
  --hover-color: 1px solid rgba(255, 0, 112, 0.40);
  --page-title-shadow-main: #ff0070;
  --page-title-shadow-small: #ff0070;
  --main-gap: 20px;
  --small-gap: 10px;
  --text-shadow-color: #ff0070;
  --rec-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --accent-text-color:  #f1b2ce;
    --accent-background-color:  #000028;
    --accent-font: 'IBM Plex mono', monospace;
    --page-title-color: #db00ff;
    --page-background-image: url("../images/cover-image-dark.png");
    --article-background-color:  #ff0070;
    --main-section-color: #ff0070;
    --secondary-color-o-40: #ff007040;
    --section-title-color:  #000028;
    --decorated-zone-color: var(--main-section-color);
    --hover-color: 1px solid rgba(255, 0, 112, 0.40);
    --page-title-shadow-main: #ff0070;
    --page-title-shadow-small: #ff0070;
    --main-gap: 20px;
    --small-gap: 10px;
    --text-shadow-color: #ff0070;
    --rec-visibility: visible;
  }
}