/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--accent-background-color);
  background-image: var(--page-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-text-color);
  font-family: var(--accent-font);
  font-size: 18px;
  line-height: 130%;
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  block-size: 100vh;
  min-height: 668px;
}

/*CORNERS & REC*/

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decorated-zone-color);
  border-block-start: 1px solid var(--decorated-zone-color);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decor__rec {
  position: absolute;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  gap: var(--small-gap);
  inset-inline-end: 20px;
  inset-block-start: 10px;
  visibility: var(--rec-visibility);
}

.decor__rec::before {
  content: "REC";
  color: var(--accent-color);
  line-height: 24px;
}

.decor__rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--article-background-color);
  inline-size: 9px;
  block-size: 9px;
}

@media (width >= 768px) {
  .decor__rec {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }
}  

/*HEADER*/

.header {
  align-items: start;
}

@media (width >= 768px) {
  .header {
    padding-inline-start: 0;
  }
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

@media (width >= 768px) {
  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: inherit;
  font-size: inherit;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  color: var(--main-section-color);
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
  text-transform: lowercase;
  border: 1px solid transparent;
  padding: 2px 12px;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__title {
  margin-block: 55px;
  color: var(--section-title-color);
  font-weight: 700;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: var(--article-background-color);
}

@media (width >= 768px) {
  .header__title {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }
}  

.page-title {
  color: var(--page-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--page-title-shadow-small);
}

@media (width >= 768px) {
  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 4px 4px 0px var(--page-title-shadow-small);
  }
} 

@media (width >= 1024px) {
  .page-title {
    text-shadow: 4px 4px 0px var(--page-title-shadow-main);
  }
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--page-title-shadow-small);
}

/*MAIN*/

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

@media (width >= 768px) {

  .main {
    gap: 80px;
    padding: 60px 20px;
  }
}

.section__title {
  color: var(--main-section-color);
  font-weight: 700;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.title-decor {
  background: var(--article-background-color);
  color: var(--section-title-color);
  font-weight: 700;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.section {
  display: grid;
  gap: var(--main-gap);
}

@media (width >= 768px) {
  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }
} 

@media (width >= 1024px) {
  .section {
    column-gap: 30px;
  }
}

.section__text-link {
  text-decoration: none;
}

.section__text-link:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--accent-text-color);
}

.section__text-link:focus {
  outline: 0;
}

.section__text-link:focus-visible {
  outline: 1px solid currentColor;
}

@media (width >= 768px) {
  .section-what__articles-list {
    grid-column-start: span 2;
  }
}

@media (width >= 1024px) {
  .section-what__articles-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.section-how__title {
  margin-block-end: 20px;
}

@media (width >= 768px) {
  .section-how__articles-list {
    grid-column-start: 2;
  }
}

.section__article-list {
  display: grid;
  gap: var(--main-gap);
  font-family: inherit;
  font-size: inherit;
}

.section__article-item {
  display: grid;
  gap: var(--small-gap);
}

/* IMAGES */

.section-images {
  gap: var(--small-gap);
}

.section__images-list {
  display: grid;
  gap: var(--small-gap);
}

.section__images-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

@media (width >= 768px) {
  .section-images {
    grid-template-columns: 1fr;
    gap: var(--main-gap);
  }

  .section__images-list {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--main-gap);
  }
  
  .section__images-list__item:first-child,
  .section__images-list__item:last-child {
    grid-column-start: span 2;
  }
  
  .section__images-list__item:nth-child(2),
  .section__images-list__item:nth-child(3) {
      grid-row-start: span 2;
  }
}

/*FOOTER*/

.footer {
  place-items: center;
}